<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./style.css">
    <title>交個朋友 Bar</title>
</head>
<body>
    <div id="app">
        <div class="content">
          <div class="container ">
            <H1 class="text-center text-white pt-5"> 交個朋友bar </H1>
            <div class="my-3 d-flex justify-content-center ">
              <!--   切換按鈕   -->
              <button type="button" class=" btn btn-outline-light  mx-2" @click="getData()"> 不喜歡，下一組請就位 </button>
              <button type="button" class=" btn btn-outline-light mx-2" @click="status = !status"> 解析度切換 </button>
              <span v-if="status"></span>
              <span v-else></span>
            </div>
      
            <!--   人物卡片   -->
      
            <div class="row ">
              <div class="col-md-4 col-lg-3 mb-3 " v-for="item in data">
                <div class="card h-100 border-0 rounded-3">
                  <div class="position-absolute" style="top: 20px; right: 20px">
                    <button type="button" class="btn btn-outline-danger rounded-pill" @click="item.like = !item.like">
                      <i class="bi bi-heart-fill fs-5" v-if="item.like"></i>
                      <i class="bi bi-heart fs-5" v-else></i>
                    </button>
                  </div>
                  <img v-if="status" v-bind:src="item.picture.large" class="card-img-top" />
                  <img v-else :src="item.picture.thumbnail" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">
                      {{ item.name.first }}
                      {{ item.name.last }}         
                  <span v-if="item.gender === 'male'"><i class="bi bi-gender-male"></i></span>
                  <span v-else><i class="bi bi-gender-female"></i></span>
      
                    </h5>
                    <span class="fs-6 text-muted">{{item.dob.age}} years old.</span>
                    <p class="card-text">
                      {{ item.email }}
                    </p>
                    <p class="card-text">
                      {{ item.phone}}
                    </p>
                    <!--             <p>
                    Address：<a :href="`https://www.google.com.tw/maps/search/${item.location.city}${item.location.state}`" target="_blank">
                      {{item.location.city+" "+item.location.state+" "+item.location.country+" "+item.location.postcode}}
                    </a>
                  </p>
                  <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" :src="`https://maps.google.com.tw/maps?f=q&amp;hl=zh-TW&amp;geocode=&amp;q=${item.location.coordinates.latitude},${item.location.coordinates.longitude}&amp;z=10&amp;output=embed`"></iframe> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
      <script src="https://unpkg.com/vue@next"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
      <script src="./all.js"></script>
</body>
</html>